<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Shortener</title>
</head>
<style>
    td {
        padding-right: 10px;
    }
</style>
<body>
    <table>
         <thead>
            <tr>
               <th>Id</th>
               <th>Ori url</th>
               <th>code</th>
               <th>date</th>
            </tr>
         </thead>

         <tbody>
               <tr>
                   {% if link %}
                  <td>{{ link.id }}</td>
                  <td>{{ link.original_url }}</td>
                  <td>{{ link.short_code }}</td>
                  <td>{{ link.creation_date }}</td>
                   {% else %}
                    <p>Link não encontrado.</p>
                    {% endif %}
               </tr>
         </tbody>
      </table>
</body>
</html>