:root {
  /*--primary-color: #030712;*/
  --primary-color: #020921;
  --secondary-color: #d9d9d9;
  --trinary-color: #6FCBF4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Inter', sans-serif;
}